$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

body{
    font-family: $font-family-sans-serif;
    padding: 0;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.bg{
    background: linear-gradient(36deg, #0dd3ff, #0389ff, #1c79c0);
}