.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  
  .c1, .c2, .c3 {
    width: 100%;
  }
  
  @media (min-width: 600px) {
    .c1 {
      width: 60%;
      -webkit-order: 2;
      order: 2;
    }
  
    .c2 {
      width: 40%;
      -webkit-order: 1;
      order: 1;
    }
  
    .c3 {
      width: 100%;
      -webkit-order: 3;
      order: 3;
    }
  }
  
  
  @media (min-width: 800px) {
    .c2 {
      width: 20%;
    }
  
    .c3 {
      width: 20%;
    }
  }
