nav{
    @extend .bg;
    display: flex;
    align-items: center;
    
    color: white; 

    a{
        text-decoration: none;
    }

    ul{
        margin: 0;
        li{
            display:inline-block;
            padding: 1.5em 1em;
        }
    }
}

.logo{
    color: white;
    font-size: 2em;
    margin: 0 1em;
    font-weight: 800;
    &:after{
        font-family: 'icomoon';
        font-weight: 100;
        content:"\ea03";
    }
}