extends layout
include mixins/card

block content

  
  .container
    .c2
    .c1
      p.icon-align-center Welcome to #{title}
      +card('2 stupid dogs','https://i.ytimg.com/vi/eCp-Duiu6EU/hqdefault.jpg', 480, 360)
    .c3
  


  
 

  