doctype html
html(⚡ lang="en")
  head
    meta(charset="utf-8")
    title= title
    
    link(rel="canonical" href="./regular-html-version.html")
    script(async src='https://cdn.ampproject.org/v0.js')
    script( async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js")

    meta(name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")

    style(amp-boilerplate)
      include ../stylesheets/amp/amp-boilerplate.css
    
    noscript
      style(amp-boilerplate)
        include ../stylesheets/amp/amp-boilerplate_noscript.css

    style(amp-custom)
      include ../stylesheets/fonts/fonts.css
      include ../stylesheets/home.css


  body 
    include includes/nav.pug
    block content
